@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import "reset.css";
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --white: hsl(0, 0%, 100%);

  --very-dark-blue-MG: hsl(217, 54%, 11%);
  --very-dark-blue-CG: hsl(216, 50%, 16%);
  --very-dark-blue-Line: hsl(215, 32%, 27%);

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;

  --transition: 0.4s all ease-in-out;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-MG);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-size: 19px;
  font-weight: var(--font-weight-300);
  color: var(--soft-blue);
}
/*main*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.card {
  background-color: var(--very-dark-blue-CG);
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 0, 0, 60px, 0 rgba(0, 0, 0, 0.6);
  padding-bottom: 25px;
  position: relative;
}
.card-image {
  max-width: 300px;
  margin: 25px;
  border-radius: 10px;
}
.card-image-hover {
  width: 300px;
  height: 300px;
  margin: 25px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(178, 100%, 50%, 0.7);
  border-radius: 10px;
  opacity: 0;
  transition: var(--transition);
}

.card-title {
  color: white;
  transition: var(--transition);
  margin-top: 0;
}
.card-title,
.card-meniton {
  margin-left: 25px;
}
.card-price-days {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--very-dark-blue-Line);
}
.card-days {
  color: var(--soft-blue);
  display: flex;
}
.card-price-days span {
  margin-left: 0.5rem;
}
.card-price {
  color: var(--cyan);
  display: flex;
  align-items: center;
}
.card-creator {
  color: var(--soft-blue);
  margin-inline: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.card-creator img {
  max-width: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 1rem;
}
.card-creator-name {
  color: var(--white);
  text-decoration: none;
  transition: var(--transition);
}
.card-creator-name a:hover,
.card-title:hover {
  cursor: pointer;
  color: var(--cyan);
}
.card-image-hover:hover {
  cursor: pointer;
  opacity: 1;
}
.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  top: 15px;
  color: var(--cyan);
}
.attribution a {
  text-decoration: none;
  transition: var(--transition);
}
.attribution a:hover {
  cursor: pointer;
  color: palevioletred;
}
